<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mors2.0</title>
    <link rel="stylesheet" href="Mors2.0.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
 
    

</html>
<div id="page">
    <header>
     <a href="Mors2.0.html"><div id="logo"><img src="logo/mors web dedié.png" alt=""></div></a>
      
      <nav>
        <input type="checkbox" id="menu">
        <label for="menu" class="menu-mobile"></label>
        <ul>
          <li><a href="Mors2.0.html">HOME</a></li>
          <li><a href="mors2.1.html">WORK</a></li>
          <li><a href="Mors2.2.html">PHOTO'GRAFF</a></li>
          <!-- <li><a href="Mors2.3.html">ILLUSTRATION</a></li>
          <li><a href="Mors2.4.html">ARGENTIQUE</a></li> -->
        </ul>
      </nav>

      
    </header>
    <section id="slider">
      <figure>
        <span><img src="argentique/Numérisation_20180730 (2).png" alt=""></span>
        <span><img src="argentique/Numérisation_20180730 (3).png" alt=""></span>
        <span><img src="argentique/Numérisation_20180730 (4).png" alt=""></span>
        <span><img src="argentique/Numérisation_20180730 (5).png" alt=""></span>
        <span><img src="argentique/Numérisation_20180730 (7).png" alt=""></span>
      </figure>
    </section>
    
    <section id="textabout">
     <p><H1>(Ré)créateur, depuis la récréation.</H1>  <br> 
      Marchand de réveil, parmi les vendeurs de rêves. <br> <br>
      Mors vit et travaille à Avignon. <br> <br>
      
     
       <br>
       <h2
       >  Graphiste. </h2> <br>-
       <br>
       <h2> Web Designer.</h2> <br>-
       <br>
       <h2> Photo Graffeur.</h2> <br>-
      <br> <br> <br>
      
     <h2> Téléphone:</h2> <br> <br>
      06.37.09.52.41
      <br>
      <br>
      <br>
     
     
      <h2> Mail:</h2> <br> <br>
     lamors413@gmail.com
    </p>
    </section>
    <footer>
      <p class="footer"> All right reserved.</p>
    </footer>
  </div>
</body>